@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text {
    /* Adjusted gradient colors for a terra cotta theme */
    background: linear-gradient(45deg, #E27D60, #C38D9E, #41B3A3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-shadow {
    /* Soft shadow to complement the terra cotta theme */
    text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  }
